/*
font-family: 'IM Fell English', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
*/

body {
  background-color: #444038;
  color: white;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: #443D37;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 300;
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;
}

#header > span {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

/* Hero */
#hero {
  background-image: url(hero.jpg);
  background-size: cover;
  height: 600px;
}

#newsletter {

}

#footer {
  background-image: url(map.jpg);
  background-size: cover;
  height: 300px;
  font-family: 'IM Fell English SC', serif;
  color: #443D37;
  font-size: 48pt;
}

/* Copy */
.body {
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: 25px;
  font-size: 20px;
}

.btn {
  background-color: #1E761E;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 10px;
}

.btn:hover {
  color: #d2e3d2;
}